body {
  margin: 0;
  font-family: var(--gcds-font-families-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--gcds-font-families-monospace);
}
